<mat-toolbar color="accent" id="app-toolbar">
  <span id="app-toolbar-left">
    <object data="https://ozoneerpdevelopment.blob.core.windows.net/public/Logo-Animated.svg" type="image/svg+xml" width="45px"></object>
    <mat-label *ngIf="!((responsiveService.isHandset | async)!.matches)">Ozone</mat-label>
  </span>
  <span id="app-toolbar-center">
    <button aria-label="Home" class="active" mat-button>
      <mat-icon>home</mat-icon>
    </button>
    <button aria-label="Rankings" mat-button>
      <mat-icon>military_tech</mat-icon>
    </button>
    <button aria-label="Rewards" mat-button>
      <mat-icon>redeem</mat-icon>
    </button>
    <button aria-label="Data" mat-button>
      <mat-icon>monitoring</mat-icon>
    </button>
  </span>
  <span id="app-toolbar-right">
    <mat-label *ngIf="!((responsiveService.isHandset | async)!.matches)">Patricia</mat-label>
    <button aria-label="Profile button" mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </span>
</mat-toolbar>
<app-dashboard></app-dashboard>
