@use '@angular/material' as mat;
@use "src/styles" as styles;

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background: none;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
  height: 100%;
  width: 100%;
  background: none;
}

mat-card {
  padding: 0;
}

mat-card-header {
  background: mat.get-color-from-palette(styles.$GovHack-client-primary, 200);
}

mat-card-content {
  height: 100%;
}
