<div class="grid-container">
  <mat-grid-list [cols]="(responsiveService.isHandset | async)!.matches ? 1 : 2" rowHeight="450px">

    <!-- SUMMARY -->
    <mat-grid-tile id="summary-tile" [colspan]="(responsiveService.isHandset | async)!.matches ? 1 : 2" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <app-dashboard-summary></app-dashboard-summary>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <mat-label>CO2 equivalent emissions & intensity By Region</mat-label>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div echarts [options]="chartOneOptions" class="demo-chart"></div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" [rowspan]="(responsiveService.isHandset | async)!.matches ? 1 : 2">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <app-dashboard-leaderboard style="height: 100%"></app-dashboard-leaderboard>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <mat-label>CO2 equivalents (tonnes) per capita</mat-label>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div echarts [options]="chartTwoOptions" class="demo-chart"></div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile> <!-- LEADER BOARD -->
  </mat-grid-list>
</div>
